<%- include("header") -%>

<body>

  <div id="heading" class="box">
    <h1><%= listTitle %></h1>
  </div>

  <div class="box">
    <% for(var i = 0; i < newItems.length; i++){ %>
    <div class="item">
      <input type="checkbox">
      <p><%=  newItems[i]  %></0>
    </div>

    <% } %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder ="New Item" autocomplete="off">
      <button type="submit" name="list" value=<%=listTitle%> >+</button>
    </form>

  </div>

</body>

<%- include("footer") -%>
